<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">

        <h1 class="heading">Todo List</h1>

        {{ if .Tasks }}
    
        <div class="gallery">
            {{ range .Tasks }}
                <div class="gallery-item">
                    <h2 class="todo-title">{{ .Title }}</h2>
                    <p class="todo-description">{{ .Description }}</p>
                    <p class="todo-status">{{ if eq .Status 0 }}Active{{ else if eq .Status 1 }}Completed{{ else }}Unknown{{ end }}</p>

                </div>
            {{ end }}
        </div>

        {{ else }}
            <p>List empty</p>
        {{ end }}
    
    </div>
</body>
</html>
